/* Generic responsive container for content */
.container {
    box-sizing: border-box;
    width: var(--container-width);
    max-width: var(--max-container-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--default-padding);
    padding-left: var(--default-padding);
}

.grid--auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    grid-column-gap: var(--default-padding);
}

.aspect-ratio-1to1::before {
    float: left;
    padding-bottom: 100%;
    content: "";
}

.aspect-ratio-1to1::after {
    display: table;
    clear: left;
    content: " ";
}

.flex--center {
    display: flex;
    align-items: center;
    justify-content: center;
}
