/* # Extra small devices (portrait phones, less than 576px) */
:root {
    --min-column-size: 200px;
    --max-container-width: 464px;
    --container-width: 100%;
}

/* # Small devices (landscape phones, 576px and up) */
@media (min-width: 580px) {
    :root {
        --max-container-width: 1000px;
        --container-width: 80%;
    }
}

/* # Medium devices (tablets, 768px and up) */
@media (min-width: 770px) {
}

/* # Large devices (desktops, 992px and up) */
@media (min-width: 990px) {
}

/* # Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
